.header {

}

.header__top {
    background: #fff;

    @include breakpointmedia(768, "max-width") { padding-bottom: 15px; }
    @include breakpointmedia(480, "max-width") { padding-bottom: 0; }

    .wrapper { @include clearfix; }

    .blockInfo {
        float: left;
        padding-top: 31px;
        width: 60.3%;
        box-sizing: border-box;


        @include breakpointmedia(960, "max-width") { width: 63%; }

        @include breakpointmedia(768, "max-width") {
            width: 40.4%;
            padding-top: 12px;
        }
        @include breakpointmedia(640, "max-width") { width: 46.8%; padding-top: 20px; }
        @include breakpointmedia(480, "max-width") {
            width: 100%;
            padding: 12px 22px 10px;
        }

    }

    .blockInfo__item {
        float: left;
        margin-bottom: 0;

        .blockInfo__big { white-space: pre; }

        &:first-of-type { width: 63%; }
        &:last-of-type { width: 37%; }

        @include breakpointmedia(960, "max-width") {
            &:first-of-type { width: 59.8%; }
            &:last-of-type { width: 40.2%; }
        }

        @include breakpointmedia(768, "max-width") {
            &:first-of-type, &:last-of-type { width: 100%; }
            &:first-of-type { margin-bottom: 12px; }

            .media768-display { padding-left: 18px; }
        }

        @include breakpointmedia(640, "max-width") {
            &:first-of-type { margin-bottom: 9px; }
        }

        @include breakpointmedia(480, "max-width") {
            &:last-of-type { display: none; }
            &:first-of-type {
                margin-bottom: 0;

                .blockInfo__normal { font-size: 0; }

                .media480 .blockInfo__normal { font-size: 13px; }
            }
        }

        @include breakpointmedia(320, "max-width") {
            &:first-of-type {
                .media480 .blockInfo__normal { font-size: 12px; }
            }
        }
    }
}

/* headerLogo */
.headerLogo {
    float: left;
    width: 39.7%;
    box-sizing: border-box;
    padding-top: 21px;
    padding-bottom: 22px;
    @include clearfix;

    @include breakpointmedia(960, "max-width") { width: 37%; }
    @include breakpointmedia(768, "max-width") { width: 59.6%; }
    @include breakpointmedia(640, "max-width") { width: 53.2%; }
    @include breakpointmedia(480, "max-width") {
        width: 100%;
        padding-bottom: 8px;
        padding-top: 12px;
        padding-left: 12px;
        box-sizing: border-box;
        border-bottom: 1px solid #e1e1e1;
    }

    a {
        position: relative;
        display: block;
        float: left;
        padding-left: 9px;
        box-sizing: border-box;

        @include breakpointmedia(960, "max-width") {
            padding-left: 0;
            width: 88px;
        }
        @include breakpointmedia(768, "max-width") { width: 90px; }
        @include breakpointmedia(480, "max-width") { width: 57px; }
    }
    
    img { width: 100%; }
}

.headerLogo__info {
    float: left;
    margin-left: -102px;
    padding-left: 121px;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;

    @include breakpointmedia(960, "max-width") {
        padding-left: 105px;
        padding-top: 8px;
    }

    @include breakpointmedia(768, "max-width") {
        margin-left: -90px;
        padding-left: 102px;
        padding-top: 3px;
    }

    @include breakpointmedia(640, "max-width") {
        padding-top: 0;
    }

    @include breakpointmedia(480, "max-width") {
        padding-left: 97px;
    }
}

.headerLogo__big {
    font-size: 23px;
    font-weight: bold;
    color: #115694;
    margin-bottom: 13px;
    text-transform: uppercase;
    letter-spacing: -0.9px;

    @include breakpointmedia(960, "max-width") { font-size: 21px; margin-bottom: 14px;  }
    @include breakpointmedia(768, "max-width") { letter-spacing: -1.5px; }
    @include breakpointmedia(640, "max-width") { font-size: 21px; }
    @include breakpointmedia(550, "max-width") { font-size: 18px; }
    @include breakpointmedia(480, "max-width") { font-size: 20px; margin-bottom: 5px; }
}

.headerLogo__small {
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    letter-spacing: 0.3px;

    @include breakpointmedia(960, "max-width") { font-size: 14px; letter-spacing: 0.2px; }
    @include breakpointmedia(768, "max-width") {
        font-size: 18px;
        letter-spacing: 0.3px;
    }

    @include breakpointmedia(640, "max-width") { font-size: 18px; line-height: 20px; }
    @include breakpointmedia(550, "max-width") { font-size: 14px; }
    @include breakpointmedia(480, "max-width") { font-size: 11px; letter-spacing: 0.4px; }
}

.header__bottom {
    background: linear-gradient(bottom, #165396, #598dc7);

    .wrapper {
        display: table;
        width: 100%;
    }
}

/* headerMenu */
.headerMenu {
    display: table;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;

    @include breakpointmedia(640, "max-width") { display: none; }

    li {
        display: table-cell;

        &:hover {
            .headerMenu__link {
                background: #25466b;
            }

            .submenu {
                visibility: visible;
                opacity: 1;
            }
        }

        &:first-child {
            .headerMenu__link { border-left: 1px solid #5f8cbc; }
        }
    }
}

.headerMenu__link {
    display: block;
    height: 57px;
    text-align: center;
    box-sizing: border-box;
    line-height: 57px;
    transition: color 0.2s ease, background 0.2s ease;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-right: 1px solid #5f8cbc;
    letter-spacing: -0.6px;

    @include breakpointmedia(830, 'max-width') { font-size: 16px;  }
    @include breakpointmedia(700, 'max-width') { font-size: 15px;  }
    @include breakpointmedia(768, "max-width") { border: none; padding: 0 10px; }
    @include breakpointmedia(640, "max-width") { font-size: 17px; border-right: 1px solid #5f8cbc; }
}

.headerMenu__mobile {
    display: none;
    width: 100%;

    @include breakpointmedia(640, "max-width") { display: table; }

    li {
        float: left;
        width: 50%;

        @include breakpointmedia(480, "max-width") {
            width: 75%;
            & + li { width: 25%; }
        }
    }

    .headerMenu__link {
        text-align: center;
        padding: 0;

        i { margin-top: 22px; }
    }
}

/* headerSearch */
.headerSearch {
    display: table-cell;
    vertical-align: middle;
    width: 29%;
    position: relative;
    box-sizing: border-box;
    padding-left: 40px;

    @include breakpointmedia(960, 'max-width') {
        width: 74px;
        padding-left: 0;
    }

    @include breakpointmedia(640, "max-width") { width: 26.5%; }
    @include breakpointmedia(480, "max-width") { width: 20%; }
}

.headerSearch__input {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 5px;
    background: #25466b;
    box-shadow: inset 0 0 15px 2px rgba(1, 1, 1, 0.2);
    font-size: 15px;
    font-style: italic;
    color: #fff;
    padding: 0 45px 0 15px;
    box-sizing: border-box;

    @include placeholder {
        color: #45688f;
    }

    @include breakpointmedia(960, 'max-width') {
        display: none;
    }
}

.headerSearch__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 57px;

    @include breakpointmedia(960, 'max-width') {
        width: 100%;
    }

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        @include sprite($search-icon-1200);
        content: "";

        @include breakpointmedia(960, 'max-width') {
            @include sprite($search-icon);
        }
    }
}