.header {
    .wrapper {
        @include clearfix;
    }
}

.header__top {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 20px;

    .blockInfo {
        float: left;
        width: 65%;
    }

    .blockInfo__item {
        &:first-of-type { width: 59%; }
        &:last-of-type { width: 41%; }

        float: left;
        width: 50%;
    }


}

/* headerLogo */
.headerLogo {
    float: left;
    width: 35%;
    box-sizing: border-box;
    @include clearfix;

    a {
        position: relative;
        display: block;
        float: left;
        width: 86px;
    }
    
    img { width: 100%; }
}

.headerLogo__info {
    float: left;
    margin-left: -86px;
    padding-left: 93px;
    padding-top: 6px;
    width: 100%;
    box-sizing: border-box;
}

.headerLogo__big {
    font-size: 21px;
    font-weight: bold;
    color: #115694;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: -0.9px;
}

.headerLogo__small {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.header__bottom {
    background: linear-gradient(bottom, #165396, #598dc7);

    .wrapper {
        display: table;
    }
}

/* headerMenu */
.headerMenu {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
    @include core-justify;
    z-index: 10;
    
    li {
        display: inline-block;
        vertical-align: top;

        &:hover {
            .headerMenu__link {
                background: #25466b;
            }

            .submenu {
                visibility: visible;
                opacity: 1;
            }
        }

        &:first-child {
            .headerMenu__link { border-left: 1px solid #5f8cbc; }
        }
    }
}

.headerMenu__link {
    display: block;
    height: 57px;
    padding: 0 25px;
    box-sizing: border-box;
    line-height: 57px;
    transition: all 0.2s ease;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-right: 1px solid #5f8cbc;
    letter-spacing: -0.6px;

    @include breakpointmedia(960, 'max-width') {
        font-size: 18px;
    }

    @include breakpointmedia(910, 'max-width') {
        font-size: 16px;
    }

    @include breakpointmedia(830, 'max-width') {
        font-size: 14px;
    }
}

/* headerSearch */
.headerSearch {
    display: table-cell;
    width: 25.5%;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    padding-left: 10px;

    @include breakpointmedia(960, 'max-width') {
        border-right: 1px solid #5f8cbc;
        width: 8%;
        padding-left: 0;
    }
}

.headerSearch__input {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 5px;
    background: #25466b;
    box-shadow: inset 0 0 15px 2px rgba(1, 1, 1, 0.2);
    font-size: 15px;
    font-style: italic;
    color: #fff;
    padding: 0 45px 0 15px;
    box-sizing: border-box;

    @include placeholder {
        color: #45688f;
    }

    @include breakpointmedia(960, 'max-width') {
        display: none;
    }
}

.headerSearch__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 57px;

    @include breakpointmedia(960, 'max-width') {
        width: 100%;
    }

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        @include sprite($search-icon-1200);
        content: "";

        @include breakpointmedia(960, 'max-width') {
            @include sprite($search-icon);
        }
    }
}