.wrapper {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: $Roboto;
}


a {
    transition: all 0.2s ease;
    text-decoration: underline;

    &:hover { text-decoration: none; }
}

.group {
    @include clearfix();

    & > div { float: left; }

    .coll-1 { width: 8.333333333333334%!important; }
    .coll-2 { width: 16.666666666666668%!important; }
    .coll-3 { width: 25%!important; }
    .coll-4 { width: 33.333333333333336%!important; }
    .coll-5 { width: 41.66666666666667%!important; }
    .coll-6 { width: 50%!important; }
    .coll-7 { width: 58.333333333333336%!important; }
    .coll-8 { width: 66.66666666666667%!important; }
    .coll-9 { width: 75%!important; }
    .coll-10 { width: 83.33333333333334%!important; }
    .coll-11 { width: 91.66666666666667%!important; }
    .coll-12 { width: 100%!important; }
}