.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;

    @include breakpointmedia(960, 'max-width') {
        max-width: 960px;
        width: 100%;
    }
}

body {
    font-family: $Roboto;
}


a {
    transition: all 0.2s ease;
    text-decoration: underline;

    &:hover { text-decoration: none; }
}

.clear { @include clearfix(); }

.group {
    @include clearfix();

    & > div { float: left; }

    .coll-1 { width: 8.333333333333334%!important; }
    .coll-2 { width: 16.666666666666668%!important; }
    .coll-3 { width: 25%!important; }
    .coll-4 { width: 33.333333333333336%!important; }
    .coll-5 { width: 41.66666666666667%!important; }
    .coll-6 { width: 50%!important; }
    .coll-7 { width: 58.333333333333336%!important; }
    .coll-8 { width: 66.66666666666667%!important; }
    .coll-9 { width: 75%!important; }
    .coll-10 { width: 83.33333333333334%!important; }
    .coll-11 { width: 91.66666666666667%!important; }
    .coll-12 { width: 100%!important; }
}

.pt-5 { padding-top: 5px; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-12 { padding-left: 12px; }

/* textStyle */
.textStyle {
    font-size: 15px;
    line-height: 23px;
    color: #333333;
    vertical-align: top;

    p {
        margin-bottom: 5px;
    }

    ul.typeOne {
        padding-left: 22px;

        li {
            position: relative;

            &:before {
                position: absolute;
                top: 5px;
                left: -22px;
                width: 5px;
                height: 5px;
                background: #c00202;
                border-radius: 50%;
                content: "";
            }
        }
    }

    a {
        font-size: 15px;
        color: #333333;
    }

    span {
        font-size: 15px;
        color: #9f9f9f;

    }
}

/* icon */
.icon {
    display: inline-block;
    vertical-align: top;
}

.icon__word { @include sprite($icon-word); }
.icon__exel { @include sprite($icon-exel); }
.icon__reader { @include sprite($icon-reader); }
.icon__menu { @include sprite($icon-menu); }

.media768 {
    display: none;

    @include breakpointmedia(768, "max-width") {
        display: inline-block;
    }
}

.media480 {
    display: none;

    @include breakpointmedia(480, "max-width") {
        display: block;
    }
}

.media1200 {
    display: none;

    @include breakpointmedia(769) {
        display: inline-block;
    }
}