.wrapper {
    position: relative;
    max-width: 1208px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @include breakpointmedia(960, 'max-width') { max-width: 960px; }
    @include breakpointmedia(640, 'max-width') { padding: 0; }
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: $Roboto;
}


a {
    text-decoration: underline;

    &:hover { text-decoration: none; }
}

.clear { @include clearfix(); }

.group {
    @include clearfix();

    & > div { float: left; }

    .coll-1 { width: 8.333333333333334%; }
    .coll-2 { width: 16.666666666666668%; }
    .coll-3 { width: 25%!important; }
    .coll-4 { width: 33.333333333333336%; }
    .coll-5 { width: 41.66666666666667%; }
    .coll-6 { width: 50%!important; }
    .coll-7 { width: 58.333333333333336%; }
    .coll-8 { width: 66.66666666666667%; }
    .coll-9 { width: 75%!important; }
    .coll-10 { width: 83.33333333333334%; }
    .coll-11 { width: 91.66666666666667%; }
    .coll-12 { width: 100%!important; }
}

.pt-5 { padding-top: 5px; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-12 { padding-left: 12px; }

/* textStyle */
.textStyle {
    font-size: 15px;
    color: #333333;
    vertical-align: top;

    @include breakpointmedia(640, "max-width") {
        font-size: 15px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 14px;
    }

    p {
        margin-bottom: 5px;
        line-height: 23px;

        @include breakpointmedia(640, "max-width") {
            margin-bottom: 8px;
        }

        @include breakpointmedia(480, "max-width") {
            line-height: 20px;
            margin-bottom: 8px;
        }
    }

    ul.typeOne {
        padding-left: 22px;

        @include breakpointmedia(640, "max-width") {
            padding-left: 20px;
            margin-bottom: 8px;
        }

        @include breakpointmedia(480, "max-width") {
            margin-bottom: 8px;
        }

        li {
            position: relative;
            line-height: 23px;

            @include breakpointmedia(640, "max-width") {
                line-height: 22px;
            }

            &:before {
                position: absolute;
                top: 5px;
                left: -22px;
                width: 5px;
                height: 5px;
                background: #c00202;
                border-radius: 50%;
                content: "";

                @include breakpointmedia(640, "max-width") {
                    left: -18px;
                    width: 3px;
                    height: 3px;
                }
            }
        }
    }

    a {
        font-size: 15px;
        color: #333333;

        @include breakpointmedia(480, "max-width") {
            font-size: 12px;
        }
    }

    span {
        font-size: 15px;
        color: #9f9f9f;

        @include breakpointmedia(480, "max-width") {
            font-size: 14px;
        }
    }
}

.tl {
    text-align: right;
}

/* icon */
.icon {
    display: inline-block;
    vertical-align: top;
}

.icon__word { @include sprite($icon-word); }
.icon__exel { @include sprite($icon-exel); }
.icon__reader { @include sprite($icon-reader); }
.icon__menu { @include sprite($icon-menu); }
.icon__main { @include sprite($main-icon); }
.icon__download { @include sprite($download-icon); }


@include breakpointmedia(1200) {
    .media1200-display { display: inline; }
    .media1200-no-display { display: none; }
}

.media960-display { display: none; }
@include breakpointmedia(960, 'max-width') {
    .media960-display { display: inline; }
    .media960-no-display { display: none; }
}

.media768-display { display: none; }
@include breakpointmedia(768, 'max-width') {
    .media768-display { display: inline; }
    .media768-no-display { display: none; }
}

.media640 {
    display: none;

    @include breakpointmediaMinMax(479, 639) {
        display: inline-block;
    }
}

.media480-display { display: none; }
@include breakpointmedia(480, 'max-width') {
    .media480-display { display: inline; }
    .media480-no-display { display: none; }
}


/* scrollUp */
.scrollUp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 103px;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    background: #5d87b4;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    padding: 0 15px;
    box-sizing: border-box;
    cursor: pointer;

    &:before {
        position: absolute;
        right: 12px;
        top: 0;
        bottom: 0;
        margin: auto;
        @include sprite($arrow-scroll);
        content: "";
    }
}