/* blockInfo */
.blockInfo {
    position: relative;
}

.blockInfo__item {
    @include clearfix;
    margin-bottom: 25px;

    &:last-of-type { margin-bottom: 0; }

    @include breakpointmedia(960, "max-width") {
        margin-bottom: 20px;

        &:last-of-type {
            p:first-child { margin-bottom: 0; }
        }
    }

    @include breakpointmedia(768, "max-width") { margin-bottom: 6px; }
    @include breakpointmedia(640, "max-width") { margin-bottom: 50px; }
    @include breakpointmedia(480, "max-width") { margin-bottom: 20px; }
}

.blockInfo__item__middle {
    margin-bottom: 55px;

    @include breakpointmedia(960, "max-width") { margin-bottom: 48px; }
    @include breakpointmedia(768, "max-width") { margin-bottom: 24px; }
    @include breakpointmedia(640, "max-width") { margin-bottom: 55px; }
    @include breakpointmedia(480, "max-width") { margin-bottom: 30px; }
}

.blockInfo__icon {
    float: left;
    width: 65px;

    @include breakpointmedia(960, "max-width") { width: 60px; }
    @include breakpointmedia(768, "max-width") { width: 45px; }
    @include breakpointmedia(480, "max-width") { width: 55px; }

    &:before {
        display: block;
        content: "";
    }
}

.blockInfo__content {
    float: left;
    margin-left: -65px;
    padding-left: 65px;
    width: 100%;
    box-sizing: border-box;

    @include breakpointmedia(960, "max-width") {
        margin-left: -60px;
        padding-left: 60px;
    }

    @include breakpointmedia(768, "max-width") {
        margin-left: -45px;
        padding-left: 45px;
    }

    @include breakpointmedia(480, "max-width") {
        margin-left: -55px;
        padding-left: 55px;
    }
}

.blockInfo__icon_phone:before {
    @include sprite($phone-icon-1200);

    @include breakpointmedia(960, "max-width") { @include sprite($phone-icon-960); }
    @include breakpointmedia(768, "max-width") { @include sprite($phone-icon-768); }
    @include breakpointmedia(640, "max-width") { @include sprite($phone-icon-640); }
}
.blockInfo__icon_time:before {
    @include sprite($time-icon-1200);

    @include breakpointmedia(960, "max-width") { @include sprite($time-icon-960); }
    @include breakpointmedia(768, "max-width") { @include sprite($time-icon-768); }
    @include breakpointmedia(640, "max-width") { @include sprite($time-icon-640); }
}
.blockInfo__icon_email:before {
    @include sprite($email-icon-1200);

    @include breakpointmedia(960, "max-width") { @include sprite($email-icon-960); }
    @include breakpointmedia(768, "max-width") { @include sprite($email-icon-768); }
    @include breakpointmedia(640, "max-width") { @include sprite($email-icon-640); }
}
.blockInfo__icon_world:before {
    @include sprite($world-icon-1200);

    @include breakpointmedia(960, "max-width") { @include sprite($world-icon-960); }
    @include breakpointmedia(768, "max-width") { @include sprite($world-icon-768); }
    @include breakpointmedia(640, "max-width") { @include sprite($world-icon-640); }
}

.blockInfo__icon_marker:before {
    @include sprite($marker-icon);
}

.blockInfo__icon_phoneContact:before {
    @include sprite($phoneContact-icon);
}

.blockInfo__icon_phone2Contact:before {
    @include sprite($phone2Contact-icon);
}

.blockInfo__icon_emailContact:before {
    @include sprite($emailContact-icon);
}

.blockInfo__icon_timeContact:before {
    @include sprite($time-iconContact);
}

.blockInfo__icon_penContact:before {
    @include sprite($pen-icon);
}

.blockInfo__title {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 14px;
    letter-spacing: -0.6px;
    line-height: 28px;

    @include breakpointmedia(960, "max-width") {
        font-size: 21px;
        letter-spacing: 0;
        margin-bottom: 12px;
        line-height: 24px;
    }

    @include breakpointmedia(768, "max-width") {
        font-size: 19px;
        letter-spacing: 0;
        margin-bottom: 8px;
    }

    @include breakpointmedia(640, "max-width") {
        font-size: 25px;
        letter-spacing: 0;
        margin-bottom: 12px;
        line-height: 26px;

        br { display: none; }
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 17px;
        margin-bottom: 8px;
        line-height: 22px;
    }
}

.blockInfo__description {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    line-height: 22px;

    @include breakpointmedia(960, "max-width") {
        font-size: 16px;
        line-height: 18px;
    }

    @include breakpointmedia(768, "max-width") {
        font-size: 14px;
        letter-spacing: 0.2px;
    }

    @include breakpointmedia(640, "max-width") {
        font-size: 19px;
        letter-spacing: 0;
        margin-bottom: 8px;
        line-height: 22px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 14px;
        margin-bottom: 8px;
        line-height: 16px;
    }
}

.blockInfo__link {
    display: block;
    font-size: 23px;
    color: #5489c3;
    font-weight: bold;
    margin-top: 14px;

    @include breakpointmedia(960, "max-width") {
        font-size: 20px;
        margin-top: 12px;
    }

    @include breakpointmedia(768, "max-width") {
        font-size: 18px;
        margin-top: 8px;
    }

    @include breakpointmedia(640, "max-width") {
        font-size: 24px;
        margin-top: 16px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 18px;
        margin-top: 10px;
    }
}

.blockInfo__linkBig {
    display: block;
    font-size: 23px;
    color: #5489c3;
    font-weight: bold;

    @include breakpointmedia(640, "max-width") {
        font-size: 19px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 14px;
    }
}

.blockInfo__phone {
    margin-top: 20px;

    @include breakpointmedia(768, "max-width") {
        margin-top: 6px;
    }

    @include breakpointmedia(640, "max-width") {
        margin-top: 20px;
    }

    @include breakpointmedia(480, "max-width") {
        margin-top: 12px;
    }

    p {
        @include clearfix;
        margin-bottom: 10px;

        @include breakpointmedia(640, "max-width") {
            margin-bottom: 6px;
        }
    }
}

.blockInfo__wrapper {
    p {
        @include clearfix;
        margin-bottom: 12px;

        &:last-of-type { margin-bottom: 0; }

        @include breakpointmedia(960, "max-width") { margin-bottom: 11px; }
        @include breakpointmedia(768, "max-width") { margin-bottom: 7px; }
        @include breakpointmedia(640, "max-width") { margin-bottom: 8px; }
    }
}

.blockInfo__small {
    font-size: 12px;
    font-weight: normal;
    color: #959595;
    padding-top: 7px;
    padding-left: 2px;
    box-sizing: border-box;
    letter-spacing: 0.3px;

    @include breakpointmedia(960, "max-width") {
        letter-spacing: 0.6px;
        font-size: 11px;
        padding-top: 6px;
    }
    @include breakpointmedia(860, "max-width") { font-size: 10px; padding-top: 4px; }
    @include breakpointmedia(768, "max-width") { font-size: 11px; letter-spacing: 0; }
    @include breakpointmedia(640, "max-width") { font-size: 10px; }
    @include breakpointmedia(480, "max-width") { font-size: 11px; }
}

.blockInfo__normal {
    font-size: 20px;
    color: #333333;

    @include breakpointmedia(960, "max-width") { font-size: 18px; }
    @include breakpointmedia(768, "max-width") { font-size: 16px; }
    @include breakpointmedia(640, "max-width") { font-size: 28px; }
    @include breakpointmedia(480, "max-width") { font-size: 14px; }
}

.blockInfo__big {
    font-size: 20px;
    font-weight: bold;
    color: #333333;

    @include breakpointmedia(960, "max-width") { font-size: 18px; }
    @include breakpointmedia(860, "max-width") { font-size: 16px; }
    @include breakpointmedia(768, "max-width") { font-size: 17px; }
    @include breakpointmedia(640, "max-width") { font-size: 14px; }
    @include breakpointmedia(480, "max-width") { font-size: 16px; letter-spacing: -0.1px }
}



.blockInfo__big_size18 { font-size: 18px; letter-spacing: -0.5px }
.blockInfo__big_size22 { font-size: 22px; }

.blockInfo__bigTwo {
    font-size: 23px;
    font-weight: bold;
    color: #333333;

    @include breakpointmedia(640, "max-width") {
        font-size: 19px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 14px;
    }
}

.blockInfo__normalTwo {
    font-size: 18px;
    color: #000000;

    @include breakpointmedia(640, "max-width") {
        font-size: 15px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 12px;
    }
}

.blockInfo__normalThree {
    font-size: 20px;
    color: #333333;

    @include breakpointmedia(640, "max-width") {
        font-size: 18px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 16px;
    }
}

.blockInfo__middle {
    font-size: 15px;
    color: #333333;

    @include breakpointmedia(768, "max-width") { font-size: 14px; letter-spacing: -0.5px; padding-top: 5px; }
}


/* 60 */
.blockInfo__CSmall {
    position: relative;
    float: left;
    width: 60px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -60px;
        padding-left: 60px;
        box-sizing: border-box;
    }

    @include breakpointmedia(960, "max-width") {
        width: 55px;

        & + * {
            margin-left: -55px;
            padding-left: 55px;
        }
    }
}

/* 65 */
.blockInfo__65 {
    position: relative;
    float: left;
    width: 65px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -65px;
        padding-left: 65px;
        box-sizing: border-box;
    }
}

/* 75 */
.blockInfo__75 {
    position: relative;
    float: left;
    width: 75px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -75px;
        padding-left: 75px;
        box-sizing: border-box;
    }

    @include breakpointmedia(640, "max-width") {
        width: 55px;

        & + * {
            margin-left: -55px;
            padding-left: 55px;
        }
    }
}

/* 80 */
.blockInfo__CSmallL3 {
    position: relative;
    float: left;
    width: 90px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -90px;
        padding-left: 90px;
        box-sizing: border-box;
    }

    @include breakpointmedia(960, "max-width") {
        width: 80px;

        & + * {
            margin-left: -80px;
            padding-left: 80px;
        }
    }

    @include breakpointmedia(768, "max-width") {
        width: 70px;

        & + * {
            margin-left: -70px;
            padding-left: 70px;
        }
    }

    @include breakpointmedia(640, "max-width") {
        width: 120px;

        & + * {
            margin-left: -120px;
            padding-left: 120px;
        }
    }

    @include breakpointmedia(480, "max-width") {
        width: 60px;

        & + * {
            margin-left: -60px;
            padding-left: 60px;
        }
    }
}

/* 100 */
.blockInfo__CMiddle {
    position: relative;
    float: left;
    width: 26%;

    & + * {
        float: left;
        width: 100%;
        margin-left: -26%;
        padding-left: 26%;
        box-sizing: border-box;
    }

    @include breakpointmedia(960, "max-width") {
        width: 31%;

        & + * {
            margin-left: -31%;
            padding-left: 31%;
        }
    }

    @include breakpointmedia(768, "max-width") {
        width: 33%;

        & + * {
            margin-left: -33%;
            padding-left: 33%;
        }
    }

    @include breakpointmedia(640, "max-width") {
        width: 34.6%;

        & + * {
            margin-left: -34.6%;
            padding-left: 34.6%;
        }
    }

    @include breakpointmedia(480, "max-width") {
        width: 30%;

        & + * {
            margin-left: -30%;
            padding-left: 30%;
        }
    }
}

/* 230 */
.blockInfo__230 {
    position: relative;
    float: left;
    width: 230px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -230px;
        padding-left: 230px;
        box-sizing: border-box;
    }
}

/* 380 */
.blockInfo__380 {
    float: left;
    width: 380px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -380px;
        padding-left: 413px;
        box-sizing: border-box;
    }
}