/* blockInfo */
.blockInfo {
    position: relative;
}

.blockInfo__item {
    @include clearfix;
    margin-bottom: 20px;

    &:last-of-type { margin-bottom: 0; }
}

.blockInfo__item__middle {
    margin-bottom: 48px;
}

.blockInfo__icon {
    float: left;
    width: 65px;

    &:before {
        display: block;
        content: "";
    }
}

.blockInfo__icon_one:before { @include sprite($phone-icon); }
.blockInfo__icon_two:before { @include sprite($time-icon); }
.blockInfo__icon_email:before { @include sprite($email-icon); }
.blockInfo__icon_world:before { @include sprite($world-icon); }

.blockInfo__content {
    float: left;
    margin-left: -65px;
    padding-left: 65px;
    width: 100%;
    box-sizing: border-box;
}

.blockInfo__title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 14px;
    letter-spacing: -0.6px;
    line-height: 24px;
}

.blockInfo__description {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 18px;
}

.blockInfo__link {
    display: block;
    font-size: 20px;
    color: #5489c3;
    font-weight: bold;
    margin-top: 8px;
}

.blockInfo__phone {
    margin-top: 20px;
    p {
        @include clearfix;
        margin-bottom: 10px;
    }
}

.blockInfo__wrapper {
    p {
        @include clearfix;
        margin-bottom: 10px;

        &:last-of-type { margin-bottom: 0; }
    }
}

.blockInfo__small {
    font-size: 18px;
    color: #333333;
}

.blockInfo__big {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
.blockInfo__big_size18 { font-size: 18px; }
.blockInfo__big_size18 { font-size: 22px; }

.blockInfo__normal {
    font-size: 12px;
    font-weight: normal;
    color: #959595;
}

.blockInfo__middle {
    font-size: 15px;
    color: #333333;
}


/* 60 */
.blockInfo__60 {
    position: relative;
    float: left;
    width: 60px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -60px;
        padding-left: 60px;
        box-sizing: border-box;
    }
}

/* 65 */
.blockInfo__65 {
    position: relative;
    float: left;
    width: 65px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -65px;
        padding-left: 65px;
        box-sizing: border-box;
    }
}

/* 75 */
.blockInfo__75 {
    position: relative;
    float: left;
    width: 75px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -75px;
        padding-left: 75px;
        box-sizing: border-box;
    }
}

/* 80 */
.blockInfo__80 {
    position: relative;
    float: left;
    width: 80px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -80px;
        padding-left: 80px;
        box-sizing: border-box;
    }
}

/* 100 */
.blockInfo__100 {
    position: relative;
    float: left;
    width: 100px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -100px;
        padding-left: 100px;
        box-sizing: border-box;
    }
}

/* 230 */
.blockInfo__230 {
    position: relative;
    float: left;
    width: 230px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -230px;
        padding-left: 230px;
        box-sizing: border-box;
    }
}

/* 380 */
.blockInfo__380 {
    float: left;
    width: 380px;

    & + * {
        float: left;
        width: 100%;
        margin-left: -380px;
        padding-left: 413px;
        box-sizing: border-box;
    }
}