.bottomMenu {
    background: url("../images/bunner-images-four.jpg") center center no-repeat;
    background-size: cover;
    padding: 34px 0;

    @include breakpointmedia($media960, "max-width") {
        padding: 30px 0;
    }

    @include breakpointmedia($media768, "max-width") {
        display: block;
        padding: 40px 0;
    }

    @include breakpointmedia(480, "max-width") {
        padding: 26px 0;
    }
}

.bottomMenu__content {
    @include core-justify;
    display: table;
    width: 100%;
    box-sizing: border-box;

    @include breakpointmedia($media768, "max-width") {
        padding: 0 7%;
    }

    @include breakpointmedia(480, "max-width") {
        padding: 0 13px;
    }
}

.bottomMenu__item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
    text-align: left;

    &:nth-of-type(2) { padding-left: 35px; }
    &:nth-of-type(3) { padding-left: 70px; }
    &:nth-of-type(4) { padding-left: 62px; }

    @include breakpointmedia($media960, "max-width") {
        &:nth-of-type(4) { padding-left: 25px; }
    }

    @include breakpointmedia($media768, "max-width") {
        width: 50%;
        margin-bottom: 29px;
        &:nth-of-type(2) { padding-left: 10%; }
        &:nth-of-type(3) { padding-left: 0; }
        &:nth-of-type(4) { padding-left: 10%; }
    }

    @include breakpointmedia(480, "max-width") {
        margin-bottom: 22px;

        &:nth-of-type(2) { padding-left: 0; }
        &:nth-of-type(4) { padding-left: 0; }
    }

    li {
        display: block;
        margin-bottom: 12px;

        @include breakpointmedia($media960, "max-width") {
            margin-bottom: 10px;
        }

        @include breakpointmedia($media768, "max-width") {
            margin-bottom: 29px;
        }

        @include breakpointmedia(480, "max-width") {
            margin-bottom: 22px;
        }

        &:last-of-type { margin-bottom: 0; }
    }

    a {
        font-size: 15px;
        color: #0f2a47;

        @include breakpointmedia($media960, "max-width") {
            font-size: 14px;
        }

        @include breakpointmedia($media768, "max-width") {
            font-size: 20px;
        }

        @include breakpointmedia(480, "max-width") {
            font-size: 14px;
        }

        &:hover { color: #c00202; }
    }
}