.bunner {
    .wrapper { padding: 55px 0 26px; }
}

.bunner_images {
    background: url("../images/bunner-images-one.jpg") center center no-repeat;
    background-size: cover;

    .wrapper {
        @include clearfix;
        min-height: 535px;
    }
}

.bunner__icon {
    position: absolute;
    bottom: 0;
    left: -65px;
    @include sprite($user-icon-1);
}

.bunner__content {
    float: left;
    box-sizing: border-box;
    width: 100%;
    margin-right: -304px;
    padding-right: 325px;
    padding-left: 250px;
}

.bunner__title {
    font-size: 25px;
    font-weight: bold;
    color: #c00202;
    margin-bottom: 17px;
    text-transform: uppercase;
    letter-spacing: -0.7px;
}

.bunner__description {
    font-size: 23px;
    color: #333333;
    line-height: 28px;
}

.bunner__list {
    margin-top: 30px;
    padding-left: 97px;
    box-sizing: border-box;

    li {
        position: relative;
        display: block;
        font-size: 18px;
        color: #333333;
        margin-bottom: 30px;

        &:last-of-type {
            &:before { display: none; }
        }

        &:before {
            position: absolute;
            left: -30px;
            top: 0;
            @include sprite($star);
            content: "";
        }

        &.bunner__indent {
            margin-bottom: 20px;
        }
    }
}



.bunner__link {
    font-size: 18px;
    color: #115694;
}

/* bunner__form */
.bunner__form {
    position: relative;
    float: left;
    width: 304px;
    padding: 17px 15px 22px;
    box-sizing: border-box;
    background: #205c9d;
    border-radius: 5px;
}

.bunner__formTitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
    padding-top: 8px;
    letter-spacing: 0.4px;
}