/* toggle */
.toggle {

}

.toggle__list {
    position: relative;
    border-bottom: 1px solid #dbdbdb;
    @include clearfix;

    @include breakpointmedia(640, "max-width") {
        display: none;
    }

    & > li {
        float: left;
        box-sizing: border-box;
        border-bottom: 5px solid transparent;
        margin-bottom: -2.5px;
        margin-right: 25px;
        transition: all 0.2s ease;

        &:last-of-type { margin-right: 0; }

        &.active, &:hover {
            border-bottom: 5px solid #c00202;

            a {
                color: #333333;
            }
        }
    }
}

.toggle__link {
    display: block;
    height: 41px;
    line-height: 45px;
    font-size: 20px;
    color: #115694;
    text-decoration: none;
    padding: 0 3px;
    transition: all 0.2s ease;
}

.toggle__content {
    margin-top: 35px;

    @include breakpointmedia(640, "max-width") {
        margin-top: 0;
    }

    @include breakpointmedia(480, "max-width") {
        margin-top: 0;
    }
}

.mobile__dropDown {
    display: none;
    height: 55px;
    line-height: 55px;
    background: #c00202;
    padding: 0 6.3%;
    color: #fff;
    font-size: 22px;
    @include clearfix;

    &:before {
        float: left;
        margin-top: 20px;
        @include sprite($arrow-cart);
        margin-right: 18px;
        content: "";
    }

    @include breakpointmedia(640, "max-width") {
        display: block;

        & + div {
            padding: 40px 6.3%;
        }
    }

    @include breakpointmedia(480, "max-width") {
        padding: 0 13px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;

        & + div {
            padding: 18px 13px;
        }

        &:before {
            margin-top: 12px;
            margin-right: 12px;
        }
    }
}

.toggle__item {
    display: none;

    &.active { display: block; }

    @include breakpointmedia(640, "max-width") {
        display: block;
    }
}

/* card */
.card {

}

.card__content {
    @include clearfix;
    padding-bottom: 35px;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;

    @include breakpointmedia(640, "max-width") {
        padding-bottom: 20px;

        .textStyle {
            float: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }

    @include breakpointmedia(480, "max-width") {
        padding-bottom: 10px;
    }
}

.card__doc {
    position: relative;
}

.card__images {
    height: 302px;

    @include breakpointmedia(640, "max-width") {
        float: none;
        width: 100%;
        height: auto;
        padding-bottom: 25px;
    }

    @include breakpointmedia(480, "max-width") {
        padding-bottom: 18px;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

/* card__list */
.card__list {
    padding-top: 30px;

    @include breakpointmedia(480, "max-width") {
        padding-top: 20px;
    }
}

.card__item {
    margin-bottom: 19px;
    @include clearfix;

    &:last-of-type { margin-bottom: 0; }

    @include breakpointmedia(640, "max-width") {
        margin-bottom: 8px;

        .card__doc {
            width: 57.5%;

            & + * {
                margin-left: -57.5%;
                padding-left: 57.5%;
            }
        }
    }

    @include breakpointmedia(480, "max-width") {
        margin-bottom: 22px;

        .card__doc {
            float: none;
            width: 100%;

            & + * {
                float: none;
                width: 100%;
                margin-left: 0;
                padding-left: 0;
                margin-top: 4px;
            }
        }

        .textStyle {
            font-size: 12px;

            p {
                line-height: 16px;
            }

            a {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

/* card__specifications */
.cardSpecifications {

}

/* table */
.scrollTable {
    position: relative;
    overflow-x: auto;
}

.table-desktop {
    @include breakpointmedia(640, "max-width") {
        display: none;
    }
}

.table {
    thead {
        background: #115694;
        border-left: 2px solid #115694;
        border-top: 2px solid #115694;
        border-right: 2px solid #115694;

        th {
            font-size: 15px;
            font-weight: bold;
            color: #ffffff;
            padding: 15px 18px;
            border-right: 1px solid #88abca;
            text-align: left;

            &:last-of-type { border-right: none; }

            @include breakpointmedia(640, "max-width") {
                padding: 13px 16px;
            }

            @include breakpointmedia(480, "max-width") {
                font-size: 12px;
                padding: 12px;
            }
        }
    }

    tbody {
        background: #fff;
        border-left: 2px solid #d4d4d4;
        border-bottom: 2px solid #d4d4d4;
        border-right: 2px solid #d4d4d4;

        td {
            font-size: 14px;
            line-height: 18px;
            color: #333333;
            padding: 13px 18px;
            border-right: 1px solid #d4d4d4;
            border-bottom: 1px solid #d4d4d4;

            &:last-of-type { border-right: none; }

            @include breakpointmedia(640, "max-width") {
                padding: 9px 16px;
            }

            @include breakpointmedia(480, "max-width") {
                font-size: 12px;
                padding: 5px 12px;
            }
        }

        tr {
            &:last-of-type {
                td { border-bottom: 1px solid #d4d4d4; }
            }
        }
    }
}

/* cardNote */
.cardNote {
    .blockInfo__CBig + * {
        padding-left: 380px;

        @include breakpointmedia(640, "max-width") {
            float: none;
            padding: 5% 0 0;
            margin: 0;
            width: 100%;
        }
    }
}

.cardNote__gallery {
    @include clearfix;
}

.cardNote__mainImages {
    height: 302px;
    font-size: 0;

    @include breakpointmedia(640, "max-width") {
        float: none;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.cardNote__blockImage {
    @include clearfix;

    @include breakpointmedia(640, "max-width") {
        @include core-justify;
    }
}

.cardNote__item {
    position: relative;
    float: left;
    width: 25%;
    padding-left: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-size: 0;
    cursor: pointer;

    @include breakpointmedia(640, "max-width") {
        float: none;
        display: inline-block;
        vertical-align: top;
        padding-left: 0;
        margin-bottom: 5%;
        width: 21%;
    }

    &:hover {
        &:before {
            opacity: 0;
        }
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.5;
        transition: all 0.2s ease;
        content: "";
    }


    img { width: 100%; }
}

.cardNote__info {

}

/* cardServices */
.cardServices {

}

.cardServices__item {
    margin-top: 30px;

    @include breakpointmedia(640, "max-width") {
        margin-top: 25px;
    }

    &:first-child { margin-top: 0; }
}

.cardServices__title {
    font-size: 23px;
    margin-bottom: 10px;

    @include breakpointmedia(640, "max-width") {
        font-size: 22px;
        margin-bottom: 5px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 18px;
        margin-bottom: 10px;
    }

    a {
        font-weight: bold;
        color: #115694;
    }
}

.cardServices__description {
    font-size: 15px;
    color: #333333;
    line-height: 24px;

    @include breakpointmedia(480, "max-width") {
        font-size: 13px;
    }

    a {
        color: #115694;
    }
}
