.client {
    .sectionBox__title {
        color: #205c9d;

        @include breakpointmedia($media768, "max-width") {
            font-size: 35px;
        }

        @include breakpointmedia(480, "max-width") {
            font-size: 26px;
        }
    }
}

.sliderClient__item {
    a {
        position: relative;
        display: block;
        height: 90px;

        @include breakpointmedia($media768, "max-width") {
            height: 75px;
        }
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include breakpointmedia($media768, "max-width") {
            width: 40%;
        }
    }
}