.order {
    background: #fff;

    &.sectionBox {
        @include breakpointmedia($media768, "max-width") { padding: 45px 0 0; }
        @include breakpointmedia(480, "max-width") { padding: 24px 0 0; }
    }


    .sectionBox__title {
        color: #205c9d;

        @include breakpointmedia($media768, "max-width") { letter-spacing: 0.5px; }

        @include breakpointmedia(480, "max-width") {
            letter-spacing: -0.5px;
        }
    }

    .sectionBox__content {
        @include clearfix;
        margin-top: 80px;

        @include breakpointmedia($media1024, "max-width") { margin-top: 63px; }
        @include breakpointmedia($media960, "max-width") { margin-top: 52px; }
        @include breakpointmedia($media768, "max-width") { margin-top: 50px; }
        @include breakpointmedia(480, "max-width") { margin-top: 30px; }
    }

    .wrapper { position: static; }

    .blockInfo {
        float: left;
        width: 100%;
        margin-right: -383px;
        padding-right: 680px;
        box-sizing: border-box;

        @include breakpointmedia(1060, "max-width") { padding-right: 550px; }

        @include breakpointmedia($media1024, "max-width") {
            margin-right: -304px;
            padding-right: 545px;
        }

        @include breakpointmedia(910, "max-width") { padding-right: 495px; }
        @include breakpointmedia(860, "max-width") { padding-right: 445px; }
        @include breakpointmedia(800, "max-width") { padding-right: 405px; }

        @include breakpointmedia($media960, "max-width") {
            margin-right: -265px;
            padding-right: 265px;
        }

        @include breakpointmedia($media768, "max-width") {
            padding: 0 6.3% 34px 6.3%;
            margin-right: 0;
            float: none;
        }

        @include breakpointmedia(480, "max-width") {
            padding: 0 13px 15px 13px;
            margin-right: 0;
            float: none;
        }
    }

    .blockInfo__big {
        font-size: 22px;

        @include breakpointmedia($media1024, "max-width") { font-size: 20px; }
        @include breakpointmedia($media960, "max-width") { font-size: 18px; }
        @include breakpointmedia($media768, "max-width") { font-size: 28px; }
        @include breakpointmedia(480, "max-width") { font-size: 18px; white-space: pre; }
    }

    .blockInfo__small {
        @include breakpointmedia($media768, "max-width") { font-size: 14px; padding-top: 12px; }
        @include breakpointmedia(480, "max-width") { font-size: 11px; padding-top: 3px; }
    }

    .blockInfo__item {
        &:nth-of-type(3) {
            padding-right: 70px;

            @include breakpointmedia($media960, "max-width") { padding-right: 0; }
        }
    }
}

.order__icon {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 0;
    margin: auto;
    @include sprite($user-icon-2-1200);
    @include breakpointmedia($media1024, "max-width") {
        left: -22px;
        @include sprite($user-icon-2);
    }
    @include breakpointmedia($media960, "max-width") {
        @include sprite($user-icon-2-768);
        left: 40px;
    }
    @include breakpointmedia($media768, "max-width") { display: none; }
}