.page {
    padding: 36px 0;

    @include breakpointmedia(640, "max-width") {
        padding: 36px 0 0;
    }

    @include breakpointmedia(480, "max-width") {
        padding: 18px 0 0;
    }
}

.page__content {

}

.page__title {
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 25px;
    box-sizing: border-box;

    @include breakpointmedia(640, "max-width") {
        padding: 0 6.3%;
        font-size: 26px;
        margin-bottom: 42px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 22px;
        padding: 0 13px;
        margin-bottom: 22px;
    }
}

/* 404 */
.page404 {
    @include clearfix;
    padding: 180px 0;

    @include breakpointmedia(960, "max-width") { padding: 70px 0; }
    @include breakpointmedia(640, "max-width") { padding: 50px 6.3%; }
    @include breakpointmedia(480, "max-width") { padding: 12px 13px; }
}

.page404__images {
    float: left;
    width: 50%;
    text-align: center;
    box-sizing: border-box;

    @include breakpointmedia(960, "max-width") { padding-right: 10px; }

    @include breakpointmedia(640, "max-width") {
        width: 100%;
        padding-top: 0;
        padding-right: 0;
    }

    img {
        max-width: 100%;

        @include breakpointmedia(480, 'max-width') {
            max-width: 70%;
        }
    }
}

.page404__content {
    float: left;
    width: 50%;
    font-size: 25px;
    font-weight: 300;
    line-height: 40px;
    box-sizing: border-box;

    @include breakpointmedia(960, "max-width") {
        padding-left: 10px;
        font-size: 22px;
        line-height: 32px;
    }

    @include breakpointmedia(640, "max-width") {
        width: 100%;
        padding: 28px 0 0 0;
        font-size: 18px;
        line-height: 28px;
    }


    @include breakpointmedia(480, "max-width") {
        font-size: 14px;
    }

    a {
        color: #115694;
        font-weight: 500;
    }
}