.sectionBox {
    position: relative;
    padding: 63px 0 52px;
    box-sizing: border-box;

    @include breakpointmedia($media1024, "max-width") {
        padding: 63px 0 52px;
    }

    @include breakpointmedia($media960, "max-width") {
        padding: 56px 0 52px;
    }

    @include breakpointmedia($media768, "max-width") {
        padding: 35px 6.3% 30px;
    }

    @include breakpointmedia(480, "max-width") {
        padding: 25px 13px;
    }
}

.sectionBoxMin {
    padding: 42px 0;

    @include breakpointmedia($media768, "max-width") {
        padding: 50px 6.3%;
    }

    @include breakpointmedia(480, "max-width") {
        padding: 15px 13px;
    }
}

.sectionBox__title {
    font-size: 37px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1.3px;

    @include breakpointmedia($media1024, "max-width") {
        font-size: 31px;
        letter-spacing: -0.5px;
    }

    @include breakpointmedia($media960, "max-width") { font-size: 28px; }
    @include breakpointmedia($media768, "max-width") { font-size: 35px; }
    @include breakpointmedia(480, "max-width") {
        font-size: 24px;
        line-height: 28px;
    }
}
.sectionBox__title35 {
    font-size: 36px;
    font-weight: bold;
    color: #115694;
    letter-spacing: -0.5px;

    @include breakpointmedia($media1024, "max-width") {
        font-size: 35px;
    }

    @include breakpointmedia($media768, "max-width") {
        font-size: 32px;
        text-align: center;
        line-height: 38px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 18px;
        line-height: 25px;
    }
}


.sectionBox__content {
    margin-top: 53px;
    @include clearfix;

    @include breakpointmedia($media1024, "max-width") {
        margin-top: 53px;
    }

    @include breakpointmedia($media960, "max-width") {
        margin-top: 40px;
    }

    @include breakpointmedia($media768, "max-width") {
        margin-top: 36px;
    }

    @include breakpointmedia(480, "max-width") {
        margin-top: 22px;
    }
}