.submenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 30px 40px 0;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease;
    @include clearfix;
}

.submenu__item {
    float: left;
    width: 25%;
    margin-bottom: 30px;
    padding-right: 10px;
    box-sizing: border-box;

    &:nth-of-type(4n + 5) { clear: both; }
}

/* list__sub2 */
.list__sub2 { display: none; }

.submenu__mobileStyle {
    @include clearfix;

    @include breakpointmedia($media768, "max-width") {
        border-top: 1px solid #d5d5d5;

        .submenu__item {
            float: none;
            width: 100%;
            margin: 0;
            padding: 0;

            &.active {
                .list__box {
                    display: block;
                }

                .list__title {
                    font-weight: bold;

                    &:before {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .list__title {
            line-height: 18px;
            text-decoration: none;
            border-bottom: 1px solid #d5d5d5;
            font-size: 15px;
            font-weight: normal;
            color: #fff;
            background: #115694;
            padding: 12px 6.3%;
            cursor: pointer;

            &.active-link {
                &:before { display: none; }
            }

            &:before {
                position: relative;
                float: right;
                top: 6px;
                display: inline-block;
                @include sprite($arrow-menu-mobile);
                margin-right: 10px;
            }

            & + ul {
                display: none;
            }

            &:hover { color: #fff; }
        }

        .list__box {
            padding: 0;

            & > li {
                margin: 0;

                & > a {
                    position: relative;
                    display: block;
                    line-height: 16px;
                    font-size: 14px;
                    color: #115694;
                    padding: 12px 31px;
                    text-decoration: none;
                    border-bottom: 1px solid #d5d5d5;

                    &:hover { border-bottom: 1px solid #d5d5d5; }

                    &.active {
                        background: #ededed;
                        font-weight: bold;

                        & + .list__sub2 { display: block; }
                    }

                    &:before {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        @include sprite($list-aroow-blue-icon);
                        margin-right: 10px;
                        content: "";
                    }

                    &.list__link {
                        font-size: 13px;
                        color: #a3a3a3;
                        margin-top: 0;
                        background: #f5f5f5;
                        padding: 12px 7%;

                        &:before {
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            left: auto;
                            top: 3px;
                            margin-right: 10px;
                            @include sprite($arrow-menu-all);
                        }
                    }

                    &.list__red { padding: 12px 7%; }
                }
            }
        }

        .list__sub2 {
            display: none;
            background: #ededed;

            li {
                margin-bottom: 0;
            }

            a {
                position: relative;
                display: block;
                line-height: 16px;
                font-size: 14px;
                color: #115694;
                padding: 12px 6.3% 12px 57px;
                text-decoration: none;
                border-bottom: 1px solid #d5d5d5;
            }
        }
    }
}

/* list */
.list {

}

.list__title {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    padding-left: 30px;
    line-height: 18px;
    word-wrap: break-word;
    text-align: left;

    &:hover {
        color: #c00202;
    }

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        @include sprite($list-aroow-icon);
        content: "";
    }
}

.list__title_desN { text-decoration: none; }

.list__box {
    padding-top: 15px;
    padding-left: 30px;

    li {
        display: block;
        margin-bottom: 5px;
        text-align: left;
    }

    a {
        display: inline;
        position: relative;
        font-size: 14px;
        color: #115694;
        letter-spacing: 0.4px;
        text-decoration: none;
        border-bottom: 1px solid #115694;
        line-height: 18px;

        &:hover {
            border-bottom: none;
        }

        &.list__red {
            color: #c00202;
            text-decoration: none;
            border-bottom: 1px solid #c00202;
        }

        &.list__link {
            color: #1772ed;
            border-bottom: 1px solid #1772ed;
        }
    }
}

.list__link {
    display: block;
    position: relative;
    margin-top: 30px;

    &:before {
        position: absolute;
        left: -24px;
        top: 2px;
        @include sprite($arrow-menu-blue);
        content: "";
    }
}

