.userInfo {
    background: url("../images/bunner-images-fiwe.jpg") center center;
    background-size: cover;

    .sectionBox__content {
        margin-top: 36px;

        @include breakpointmedia(640, "max-width") {
            margin-top: 40px;
        }

        @include breakpointmedia(480, "max-width") {
            margin-top: 20px;
        }
    }

    .blockInfo__big {
        font-size: 23px;

        @include breakpointmedia(480, "max-width") {
            line-height: 18px;
        }
    }

    .blockInfo__CSmallL1 + * {
        padding-top: 10px;
    }

    .blockInfo__CMiddle {
        width: 95px;

        & + * {
            margin-left: -95px;
            padding-left: 95px;
        }

        @include breakpointmedia(480, "max-width") {
            width: 70px;

            & + * {
                margin-left: -70px;
                padding-left: 70px;
            }
        }
    }
}

.userInfo__images {
    width: 180px;

    & + * {
        margin-left: -180px;
    }

    @include breakpointmedia(640, "max-width") {
        width: 25%;

        & + * {
            margin-left: -25%;
            padding-left: 31%;
        }
    }

    @include breakpointmedia(480, "max-width") {
        & + * {
            padding-left: 32%;
        }
    }

    img {
        width: 100%;
        border-radius: 5px;
    }
}

.userInfo__content {

    & > .blockInfo__smallNormal {
        margin-bottom: 8px;
    }

    @include breakpointmedia(640, "max-width") {
        .blockInfo__smallNormal { font-size: 13px; }
        .blockInfo__normalUser { font-size: 16px; }
        .blockInfo__big { font-size: 16px; letter-spacing: .5px; }
    }

    @include breakpointmedia(480, "max-width") {
        .blockInfo__smallNormal { font-size: 12px; }
        .blockInfo__big { font-size: 15px; letter-spacing: .5px; }
    }
}

.userInfo__info {
    margin-top: 30px;

    @include breakpointmedia(640, "max-width") {
        margin-top: 25px;
    }
}

.userInfo__item {
    @include clearfix;
    margin-bottom: 20px;

    @include breakpointmedia(640, "max-width") {
        margin-bottom: 5px;
        .blockInfo__CSmallL1 {
            width: 13%;

            & + * {
                margin-left: -13%;
                padding-left: 13%;
                padding-top: 8px;
            }
        }
    }

    @include breakpointmedia(480, "max-width") {
        .blockInfo__CSmallL1 {
            width: 15.3%;

            & + * {
                margin-left: -15.3%;
                padding-left: 15.3%;
                padding-top: 8px;
            }
        }

        .tl {
            padding-left: 10px;
            line-height: 18px;
        }
    }

    .blockInfo__big {
        @include breakpointmedia(480, "max-width") {
            font-size: 16px;
        }
    }

    .blockInfo__small {
        @include breakpointmedia(480, "max-width") {
            font-size: 13px;
            padding-top: 0;
        }
    }
}

.userInfo__phoneIndent {
    padding-left: 10px;
}

.userInfo_desktop {
    @include breakpointmedia(480, "max-width") {
        display: none;
    }
}

.userInfo_mobile {
    display: none;

    @include breakpointmedia(480, "max-width") {
        display: block;
        margin-top: 20px;

        .userInfo__item {
            margin-bottom: 10px;
        }

        .blockInfo__big_size18 { font-size: 17px; }
    }
}

.userInfo__phone {
    @include breakpointmedia(480, "max-width") {
        display: inline-block;
        vertical-align: top;

        span {
            display: inline-block;
            vertical-align: top;
        }

        .pl-12 { padding-left: 5px; }
    }
}

/* seeAlso */
.seeAlso {
    background: url("../images/bg-1.jpg") center center repeat;
    box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.1);

    @include breakpointmedia(640, "max-width") {
        .sectionBox__title35 {
            text-align: left;
        }
    }

    .sectionBox__content {
        margin-top: 35px;

        @include breakpointmedia(640, "max-width") {
            margin-top: 24px;
        }

        @include breakpointmedia(480, "max-width") {
            margin-top: 22px;
        }
    }
}

.seeAlso__item {
    margin-top: 25px;

    @include breakpointmedia(640, "max-width") {
        margin-top: 40px;
    }

    @include breakpointmedia(480, "max-width") {
        margin-top: 32px;
    }

    &:first-child { margin-top: 0; }
}

.seeAlso__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 18px;
    letter-spacing: 0.5px;

    @include breakpointmedia(640, "max-width") {
        font-size: 15px;
        margin-bottom: 14px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 16px;
    }

    a {
        color: #115694;
    }
}

.seeAlso__description {
    font-size: 15px;
    color: #333333;
    line-height: 23px;
    letter-spacing: 0.5px;

    @include breakpointmedia(640, "max-width") {
        font-size: 12px;
        line-height: 18px;
    }

    @include breakpointmedia(480, "max-width") {
        font-size: 13px;
        line-height: 21px;
    }

    a {
        color: #115694;
    }
}

