/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
            $arrow-cart: (1235px, 704px, -1235px, -704px, 16px, 15px, 1274px, 1097px, 'sprite.png', 'arrow-cart', );
            $arrow-footer: (449px, 571px, -449px, -571px, 17px, 10px, 1274px, 1097px, 'sprite.png', 'arrow-footer', );
            $arrow-menu-all: (1262px, 635px, -1262px, -635px, 6px, 11px, 1274px, 1097px, 'sprite.png', 'arrow-menu-all', );
            $arrow-menu-blue: (1259px, 750px, -1259px, -750px, 6px, 10px, 1274px, 1097px, 'sprite.png', 'arrow-menu-blue', );
            $arrow-menu-mobile: (491px, 571px, -491px, -571px, 11px, 6px, 1274px, 1097px, 'sprite.png', 'arrow-menu-mobile', );
            $arrow-scroll: (471px, 571px, -471px, -571px, 15px, 7px, 1274px, 1097px, 'sprite.png', 'arrow-scroll', );
            $download-icon: (1256px, 704px, -1256px, -704px, 16px, 14px, 1274px, 1097px, 'sprite.png', 'download-icon', );
            $email-icon-1200: (1130px, 656px, -1130px, -656px, 44px, 43px, 1274px, 1097px, 'sprite.png', 'email-icon-1200', );
            $email-icon-640: (1071px, 900px, -1071px, -900px, 33px, 32px, 1274px, 1097px, 'sprite.png', 'email-icon-640', );
            $email-icon-768: (1188px, 816px, -1188px, -816px, 36px, 36px, 1274px, 1097px, 'sprite.png', 'email-icon-768', );
            $email-icon-960: (1071px, 772px, -1071px, -772px, 40px, 39px, 1274px, 1097px, 'sprite.png', 'email-icon-960', );
            $emailContact-icon: (1205px, 524px, -1205px, -524px, 45px, 43px, 1274px, 1097px, 'sprite.png', 'emailContact-icon', );
            $icon-exel: (1149px, 816px, -1149px, -816px, 34px, 39px, 1274px, 1097px, 'sprite.png', 'icon-exel', );
            $icon-menu: (1227px, 635px, -1227px, -635px, 30px, 14px, 1274px, 1097px, 'sprite.png', 'icon-menu', );
            $icon-reader: (1110px, 816px, -1110px, -816px, 34px, 39px, 1274px, 1097px, 'sprite.png', 'icon-reader', );
            $icon-word: (1071px, 816px, -1071px, -816px, 34px, 40px, 1274px, 1097px, 'sprite.png', 'icon-word', );
            $info-footer-active: (1109px, 900px, -1109px, -900px, 17px, 17px, 1274px, 1097px, 'sprite.png', 'info-footer-active', );
            $info-footer: (1255px, 524px, -1255px, -524px, 19px, 19px, 1274px, 1097px, 'sprite.png', 'info-footer', );
            $info-icon-1: (879px, 524px, -879px, -524px, 64px, 52px, 1274px, 1097px, 'sprite.png', 'info-icon-1', );
            $info-icon-2: (1160px, 587px, -1160px, -587px, 62px, 62px, 1274px, 1097px, 'sprite.png', 'info-icon-2', );
            $info-icon-3: (1071px, 587px, -1071px, -587px, 84px, 64px, 1274px, 1097px, 'sprite.png', 'info-icon-3', );
            $info-icon-4: (1071px, 656px, -1071px, -656px, 54px, 63px, 1274px, 1097px, 'sprite.png', 'info-icon-4', );
            $list-aroow-blue-icon: (1172px, 704px, -1172px, -704px, 16px, 15px, 1274px, 1097px, 'sprite.png', 'list-aroow-blue-icon', );
            $list-aroow-icon: (1151px, 704px, -1151px, -704px, 16px, 15px, 1274px, 1097px, 'sprite.png', 'list-aroow-icon', );
            $main-icon: (1131px, 900px, -1131px, -900px, 14px, 14px, 1274px, 1097px, 'sprite.png', 'main-icon', );
            $marker-footer: (1259px, 724px, -1259px, -724px, 15px, 21px, 1274px, 1097px, 'sprite.png', 'marker-footer', );
            $marker-icon: (1227px, 587px, -1227px, -587px, 45px, 43px, 1274px, 1097px, 'sprite.png', 'marker-icon', );
            $nav_active: (1179px, 656px, -1179px, -656px, 44px, 43px, 1274px, 1097px, 'sprite.png', 'nav_active', );
            $nav_noactive: (1228px, 656px, -1228px, -656px, 44px, 43px, 1274px, 1097px, 'sprite.png', 'nav_noactive', );
            $pen-icon: (1105px, 524px, -1105px, -524px, 45px, 43px, 1274px, 1097px, 'sprite.png', 'pen-icon', );
            $phone-icon-1200: (1120px, 724px, -1120px, -724px, 42px, 41px, 1274px, 1097px, 'sprite.png', 'phone-icon-1200', );
            $phone-icon-640: (1190px, 861px, -1190px, -861px, 34px, 34px, 1274px, 1097px, 'sprite.png', 'phone-icon-640', );
            $phone-icon-768: (1151px, 861px, -1151px, -861px, 34px, 34px, 1274px, 1097px, 'sprite.png', 'phone-icon-768', );
            $phone-icon-960: (1159px, 772px, -1159px, -772px, 38px, 37px, 1274px, 1097px, 'sprite.png', 'phone-icon-960', );
            $phone2Contact-icon: (1055px, 524px, -1055px, -524px, 45px, 43px, 1274px, 1097px, 'sprite.png', 'phone2Contact-icon', );
            $phoneContact-icon: (1005px, 524px, -1005px, -524px, 45px, 43px, 1274px, 1097px, 'sprite.png', 'phoneContact-icon', );
            $search-icon-1200: (1214px, 704px, -1214px, -704px, 16px, 15px, 1274px, 1097px, 'sprite.png', 'search-icon-1200', );
            $search-icon: (1193px, 704px, -1193px, -704px, 16px, 15px, 1274px, 1097px, 'sprite.png', 'search-icon', );
            $select-icon: (1229px, 816px, -1229px, -816px, 37px, 35px, 1274px, 1097px, 'sprite.png', 'select-icon', );
            $select-icon2: (948px, 524px, -948px, -524px, 52px, 43px, 1274px, 1097px, 'sprite.png', 'select-icon2', );
            $slider-arrow-left: (1071px, 937px, -1071px, -937px, 11px, 21px, 1274px, 1097px, 'sprite.png', 'slider-arrow-left', );
            $slider-arrow-right: (1087px, 937px, -1087px, -937px, 11px, 21px, 1274px, 1097px, 'sprite.png', 'slider-arrow-right', );
            $star-1200: (1255px, 548px, -1255px, -548px, 18px, 17px, 1274px, 1097px, 'sprite.png', 'star-1200', );
            $star-640: (1243px, 772px, -1243px, -772px, 21px, 20px, 1274px, 1097px, 'sprite.png', 'star-640', );
            $star: (1130px, 704px, -1130px, -704px, 16px, 15px, 1274px, 1097px, 'sprite.png', 'star', );
            $time-icon-1200: (1167px, 724px, -1167px, -724px, 42px, 41px, 1274px, 1097px, 'sprite.png', 'time-icon-1200', );
            $time-icon-640: (1111px, 861px, -1111px, -861px, 35px, 34px, 1274px, 1097px, 'sprite.png', 'time-icon-640', );
            $time-icon-768: (1071px, 861px, -1071px, -861px, 35px, 34px, 1274px, 1097px, 'sprite.png', 'time-icon-768', );
            $time-icon-960: (1116px, 772px, -1116px, -772px, 38px, 37px, 1274px, 1097px, 'sprite.png', 'time-icon-960', );
            $time-iconContact: (1155px, 524px, -1155px, -524px, 45px, 43px, 1274px, 1097px, 'sprite.png', 'time-iconContact', );
            $user-icon-1-768: (750px, 587px, -750px, -587px, 316px, 419px, 1274px, 1097px, 'sprite.png', 'user-icon-1-768', );
            $user-icon-1: (0px, 587px, 0px, -587px, 384px, 510px, 1274px, 1097px, 'sprite.png', 'user-icon-1', );
            $user-icon-1200: (449px, 0px, -449px, 0px, 425px, 566px, 1274px, 1097px, 'sprite.png', 'user-icon-1200', );
            $user-icon-2-1200: (0px, 0px, 0px, 0px, 444px, 582px, 1274px, 1097px, 'sprite.png', 'user-icon-2-1200', );
            $user-icon-2-768: (389px, 587px, -389px, -587px, 356px, 467px, 1274px, 1097px, 'sprite.png', 'user-icon-2-768', );
            $user-icon-2: (879px, 0px, -879px, 0px, 395px, 519px, 1274px, 1097px, 'sprite.png', 'user-icon-2', );
            $world-icon-1200: (1071px, 724px, -1071px, -724px, 44px, 43px, 1274px, 1097px, 'sprite.png', 'world-icon-1200', );
            $world-icon-640: (1229px, 861px, -1229px, -861px, 33px, 32px, 1274px, 1097px, 'sprite.png', 'world-icon-640', );
            $world-icon-768: (1202px, 772px, -1202px, -772px, 36px, 36px, 1274px, 1097px, 'sprite.png', 'world-icon-768', );
            $world-icon-960: (1214px, 724px, -1214px, -724px, 40px, 39px, 1274px, 1097px, 'sprite.png', 'world-icon-960', );
        $spritesheet-sprites: ($arrow-cart, $arrow-footer, $arrow-menu-all, $arrow-menu-blue, $arrow-menu-mobile, $arrow-scroll, $download-icon, $email-icon-1200, $email-icon-640, $email-icon-768, $email-icon-960, $emailContact-icon, $icon-exel, $icon-menu, $icon-reader, $icon-word, $info-footer-active, $info-footer, $info-icon-1, $info-icon-2, $info-icon-3, $info-icon-4, $list-aroow-blue-icon, $list-aroow-icon, $main-icon, $marker-footer, $marker-icon, $nav_active, $nav_noactive, $pen-icon, $phone-icon-1200, $phone-icon-640, $phone-icon-768, $phone-icon-960, $phone2Contact-icon, $phoneContact-icon, $search-icon-1200, $search-icon, $select-icon, $select-icon2, $slider-arrow-left, $slider-arrow-right, $star-1200, $star-640, $star, $time-icon-1200, $time-icon-640, $time-icon-768, $time-icon-960, $time-iconContact, $user-icon-1-768, $user-icon-1, $user-icon-1200, $user-icon-2-1200, $user-icon-2-768, $user-icon-2, $world-icon-1200, $world-icon-640, $world-icon-768, $world-icon-960, );
        $spritesheet: (1274px, 1097px, 'sprite.png', $spritesheet-sprites, );


