/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
            $arrow-cart: (982px, 524px, -982px, -524px, 16px, 15px, 1105px, 631px, 'sprite.png', 'arrow-cart', );
            $arrow-footer: (864px, 493px, -864px, -493px, 17px, 10px, 1105px, 631px, 'sprite.png', 'arrow-footer', );
            $arrow-menu-all: (1087px, 524px, -1087px, -524px, 6px, 11px, 1105px, 631px, 'sprite.png', 'arrow-menu-all', );
            $arrow-menu-blue: (1098px, 524px, -1098px, -524px, 6px, 10px, 1105px, 631px, 'sprite.png', 'arrow-menu-blue', );
            $arrow-menu-mobile: (886px, 493px, -886px, -493px, 11px, 6px, 1105px, 631px, 'sprite.png', 'arrow-menu-mobile', );
            $download-icon: (824px, 493px, -824px, -493px, 16px, 14px, 1105px, 631px, 'sprite.png', 'download-icon', );
            $email-icon-768: (633px, 524px, -633px, -524px, 36px, 36px, 1105px, 631px, 'sprite.png', 'email-icon-768', );
            $email-icon: (502px, 524px, -502px, -524px, 40px, 39px, 1105px, 631px, 'sprite.png', 'email-icon', );
            $emailContact-icon: (259px, 524px, -259px, -524px, 45px, 43px, 1105px, 631px, 'sprite.png', 'emailContact-icon', );
            $icon-exel: (39px, 592px, -39px, -592px, 34px, 39px, 1105px, 631px, 'sprite.png', 'icon-exel', );
            $icon-menu: (789px, 493px, -789px, -493px, 30px, 14px, 1105px, 631px, 'sprite.png', 'icon-menu', );
            $icon-reader: (0px, 592px, 0px, -592px, 34px, 39px, 1105px, 631px, 'sprite.png', 'icon-reader', );
            $icon-word: (1071px, 424px, -1071px, -424px, 34px, 40px, 1105px, 631px, 'sprite.png', 'icon-word', );
            $info-footer-active: (939px, 524px, -939px, -524px, 17px, 17px, 1105px, 631px, 'sprite.png', 'info-footer-active', );
            $info-footer: (915px, 524px, -915px, -524px, 19px, 19px, 1105px, 631px, 'sprite.png', 'info-footer', );
            $info-icon-1: (945px, 424px, -945px, -424px, 64px, 52px, 1105px, 631px, 'sprite.png', 'info-icon-1', );
            $info-icon-2: (878px, 424px, -878px, -424px, 62px, 62px, 1105px, 631px, 'sprite.png', 'info-icon-2', );
            $info-icon-3: (789px, 424px, -789px, -424px, 84px, 64px, 1105px, 631px, 'sprite.png', 'info-icon-3', );
            $info-icon-4: (0px, 524px, 0px, -524px, 54px, 63px, 1105px, 631px, 'sprite.png', 'info-icon-4', );
            $list-aroow-blue-icon: (1024px, 524px, -1024px, -524px, 16px, 15px, 1105px, 631px, 'sprite.png', 'list-aroow-blue-icon', );
            $list-aroow-icon: (961px, 524px, -961px, -524px, 16px, 15px, 1105px, 631px, 'sprite.png', 'list-aroow-icon', );
            $main-icon: (845px, 493px, -845px, -493px, 14px, 14px, 1105px, 631px, 'sprite.png', 'main-icon', );
            $marker-footer: (78px, 592px, -78px, -592px, 15px, 21px, 1105px, 631px, 'sprite.png', 'marker-footer', );
            $marker-icon: (209px, 524px, -209px, -524px, 45px, 43px, 1105px, 631px, 'sprite.png', 'marker-icon', );
            $nav_active: (408px, 524px, -408px, -524px, 44px, 43px, 1105px, 631px, 'sprite.png', 'nav_active', );
            $nav_noactive: (359px, 524px, -359px, -524px, 44px, 43px, 1105px, 631px, 'sprite.png', 'nav_noactive', );
            $pen-icon: (109px, 524px, -109px, -524px, 45px, 43px, 1105px, 631px, 'sprite.png', 'pen-icon', );
            $phone-icon-640: (876px, 524px, -876px, -524px, 34px, 34px, 1105px, 631px, 'sprite.png', 'phone-icon-640', );
            $phone-icon-768: (837px, 524px, -837px, -524px, 34px, 34px, 1105px, 631px, 'sprite.png', 'phone-icon-768', );
            $phone-icon: (590px, 524px, -590px, -524px, 38px, 37px, 1105px, 631px, 'sprite.png', 'phone-icon', );
            $phone2Contact-icon: (159px, 524px, -159px, -524px, 45px, 43px, 1105px, 631px, 'sprite.png', 'phone2Contact-icon', );
            $phoneContact-icon: (309px, 524px, -309px, -524px, 45px, 43px, 1105px, 631px, 'sprite.png', 'phoneContact-icon', );
            $search-icon-1200: (1003px, 524px, -1003px, -524px, 16px, 15px, 1105px, 631px, 'sprite.png', 'search-icon-1200', );
            $search-icon: (1066px, 524px, -1066px, -524px, 16px, 15px, 1105px, 631px, 'sprite.png', 'search-icon', );
            $select-icon: (715px, 524px, -715px, -524px, 37px, 35px, 1105px, 631px, 'sprite.png', 'select-icon', );
            $select-icon2: (1014px, 424px, -1014px, -424px, 52px, 43px, 1105px, 631px, 'sprite.png', 'select-icon2', );
            $slider-arrow-left: (114px, 592px, -114px, -592px, 11px, 21px, 1105px, 631px, 'sprite.png', 'slider-arrow-left', );
            $slider-arrow-right: (98px, 592px, -98px, -592px, 11px, 21px, 1105px, 631px, 'sprite.png', 'slider-arrow-right', );
            $star: (1045px, 524px, -1045px, -524px, 16px, 15px, 1105px, 631px, 'sprite.png', 'star', );
            $time-icon-640: (757px, 524px, -757px, -524px, 35px, 34px, 1105px, 631px, 'sprite.png', 'time-icon-640', );
            $time-icon-768: (797px, 524px, -797px, -524px, 35px, 34px, 1105px, 631px, 'sprite.png', 'time-icon-768', );
            $time-icon: (547px, 524px, -547px, -524px, 38px, 37px, 1105px, 631px, 'sprite.png', 'time-icon', );
            $time-iconContact: (59px, 524px, -59px, -524px, 45px, 43px, 1105px, 631px, 'sprite.png', 'time-iconContact', );
            $user-icon-1-768: (789px, 0px, -789px, 0px, 316px, 419px, 1105px, 631px, 'sprite.png', 'user-icon-1-768', );
            $user-icon-1: (400px, 0px, -400px, 0px, 384px, 510px, 1105px, 631px, 'sprite.png', 'user-icon-1', );
            $user-icon-2: (0px, 0px, 0px, 0px, 395px, 519px, 1105px, 631px, 'sprite.png', 'user-icon-2', );
            $world-icon-768: (674px, 524px, -674px, -524px, 36px, 36px, 1105px, 631px, 'sprite.png', 'world-icon-768', );
            $world-icon: (457px, 524px, -457px, -524px, 40px, 39px, 1105px, 631px, 'sprite.png', 'world-icon', );
        $spritesheet-sprites: ($arrow-cart, $arrow-footer, $arrow-menu-all, $arrow-menu-blue, $arrow-menu-mobile, $download-icon, $email-icon-768, $email-icon, $emailContact-icon, $icon-exel, $icon-menu, $icon-reader, $icon-word, $info-footer-active, $info-footer, $info-icon-1, $info-icon-2, $info-icon-3, $info-icon-4, $list-aroow-blue-icon, $list-aroow-icon, $main-icon, $marker-footer, $marker-icon, $nav_active, $nav_noactive, $pen-icon, $phone-icon-640, $phone-icon-768, $phone-icon, $phone2Contact-icon, $phoneContact-icon, $search-icon-1200, $search-icon, $select-icon, $select-icon2, $slider-arrow-left, $slider-arrow-right, $star, $time-icon-640, $time-icon-768, $time-icon, $time-iconContact, $user-icon-1-768, $user-icon-1, $user-icon-2, $world-icon-768, $world-icon, );
        $spritesheet: (1105px, 631px, 'sprite.png', $spritesheet-sprites, );


